#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:40px;
    z-index: 100000;
    .linear-gradient(bottom, #222 40%, #444 100%);
    font-size:16px;

    * {
        .user-select(none);
    }
    .tabs-container {
        width:100%;
        margin:0;
        padding:0;
        float: right;
        margin-left: 40px;
        top:0;
        position: absolute;
    }

    .tabs {

        list-style-type: none;
        width:100%;
        margin:0;
        padding:0;

        li {
            cursor: pointer;
            max-width: 200px;
            width:20%;
            display: inline-block;
            div {
                width:100%;

                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

                height: 34px;
                .border-radius(3px);
                margin: 3px 0 0 0;
                .box-shadow(inset 0px 0px 2px #999);
                background-color: #464645;
                display: block;
                width:100%;
                span {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    width:auto;
                    margin: 8px 10px;
                    display: block;
                }
            }


            &.active {
                div {
                    background-color: #95bb07;
                    .box-shadow(inset 0px 0px 2px #fff);
                }
            }
            &.focus {
                div {
                    background-color: #ff9000;
                    .box-shadow(inset 0px 0px 2px #fff);
                }

            }

        }
    }
}
.main-menu-button {
    background-image: url("../images/menu/menu-button.svg");
    width: 28px;
    float: left;
    padding-bottom:28px;
    margin:5px;
    background-size: 100%;
    position: relative;
    background-repeat: no-repeat;
}



