.logo-container {
    width: 250px;
    height: 100px;
    background-image: url("http://localhost:8181/skins/cubeiaclassic/less/../images/lobby/poker-logo.png");
    background-repeat: no-repeat;
    margin-top:10px;
    background-size: 70%;

}

.lobby-container {
    background-color: #252525;
    background-image: url("../images/lobby/lobby-background.png");
    background-repeat: repeat-x;
    min-height: 100%;
}

.btn-lobby {
    .default-btn;
    float: right;
}
table thead {
    th.sorting {
        cursor: pointer;
        background-image: url("../images/lobby/sorting-icon.png");
        background-repeat: no-repeat;
        background-position: left;
        padding-left:15px;
        user-select:none;
    }
    th.sorting-desc {
        background-image: url("../images/lobby/sorting-icon-desc.png");
    }
    th.sorting-asc {
        background-image: url("../images/lobby/sorting-icon-asc.png");
    }
}