.table-log-container {
    position: absolute;
    left:0;
    top:30%;
    width:30%;
    height:50%;
    z-index:1000;

    .table-event-log {
        border:1px solid #999;
        background-color: #ddd;
        width:100%;
        height: 100%;
        position: absolute;
        top:0;
        left:0;
        .box-shadow(inset 0px 2px 3px #999);
        overflow: auto;

        div {
            width:96%;
            padding:1% 2%;
            font-size:80%;
            color:#333;

            &:nth-child(even) {
                background-color: #ccc;
            }
        }
    }
}