.tournament-view {
    background-color: #252525;
    background-image: url("../images/lobby/lobby-background.png");
    background-repeat: repeat-x;

    .register-button {
        padding: 15px 20px;
        font-size: 130%;
        display: inline-block;
        .default-btn;
    }
    .leave-action {
        background: none;
        background-color: #464645;
        float: right;
        .linear-gradient(top,#707070 0%, #565656 100%);
        padding: 15px 20px;
        text-shadow:1px 2px #444;
        margin-right: 15px;
    }
    .share-button {
        .default-btn;
        padding: 15px 20px;
        font-size: 130%;
        margin-right: 5px;
        float:right;
        text-shadow:1px 2px #444;
        .linear-gradient(top,#707070 0%, #565656 100%);
    }


}