.tournament-view {

    background: @tournament-lobby-background;

    .register-button {
        padding: 15px 20px;
        font-size: 130%;
        display: inline-block;
        .default-btn;
    }
    .leave-action {
        background: none;
        background-color: @leave-lobby-background-color;
        float: right;
        .linear-gradient(top,@leave-lobby-gradient-start 0%, @leave-lobby-gradient-end 100%);
        padding: 15px 20px;
        text-shadow:1px 2px @leave-lobby-text-shadow;
        margin-right: 15px;
    }
    .share-button {
        .default-btn;
        padding: 15px 20px;
        font-size: 130%;
        margin-right: 5px;
        float:right;
        text-shadow:1px 2px @share-button-text-shadow;
        .linear-gradient(top,@share-button-gradient-start 0%, @share-button-gradient-end 100%);
    }


}