#raiseValue {
   color: white;
}

#betSlider {
    position: absolute;
    height: 70%;
    right:3%;
    bottom:20%;
    border-radius: 4px;

}

.marker {
    position: absolute;
    left: -110%;
    width: 100%;
    font-weight: bold;
    font-family: Arial;
    font-size: 130%;
    text-align: right;
    color: #FFFFFF;
    cursor: pointer;

}

.ui-slider {
    width: 10%;
    background: #444;

}
.ui-slider-range {
    bottom: 0%;
    position: absolute;
    width: 100%;
}

.ui-slider-vertical {

 }

.ui-widget {

}

.ui-widget-content {

}


.poker-slider .ui-slider-handle {

    width:108%;
    height:6%;
    position:absolute;
    margin-left:-4%;
    margin-bottom: 0px;
    z-index:200;
    background: #808080;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0px;
    -webkit-box-shadow: 0px 1px 4px 0px #222222;
    box-shadow: 0px 1px 4px 0px #222222;

    background: #a8a8a8; /* Old browsers */
    background: -moz-linear-gradient(top,  #a8a8a8 0%, #848484 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a8a8a8), color-stop(100%,#848484)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a8a8a8 0%,#848484 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a8a8a8 0%,#848484 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a8a8a8 0%,#848484 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a8a8a8 0%,#848484 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#848484',GradientType=0 ); /* IE6-9 */



}

.ui-state-default {

}

.ui-corner-all {

}

.ui-widget-header {
    border: 0px;
    background: #9bba00;
    border-radius: 0 0 4px 4px;
    background-image: linear-gradient(bottom, #9BBA00 0%, #C3E30C 100%);
    background-image: -o-linear-gradient(bottom, #9BBA00 0%, #C3E30C 100%);
    background-image: -moz-linear-gradient(bottom, #9BBA00 0%, #C3E30C 100%);
    background-image: -webkit-linear-gradient(bottom, #9BBA00 0%, #C3E30C 100%);
    background-image: -ms-linear-gradient(bottom, #9BBA00 0%, #C3E30C 100%);
}



