.progressbar-first {
    -webkit-transform: rotate(179deg);
}

/* default state of player cards */
.cards-container-player .player-card-container {
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;

    -webkit-transform: scale3d(0.75,0.75,0) translate3d(0,1%,0);
    -moz-transform: scale3d(0.75,0.75,0) translate3d(0,1%,0);
    -o-transform: scale3d(0.75,0.75,0) translate3d(0,1%,0);

}
/* player cards dealt */
.cards-container-player .player-card-container.dealt {
    -webkit-transform: scale3d(0.75,0.75,0) translate3d(0,-18%,0);
    -moz-transform: scale3d(0.75,0.75,0) translate3d(0,-18%,0);
    -o-transform: scale3d(0.75,0.75,0) translate3d(0,-18%,0);

}
/* player cards exposed */
.cards-container-player .player-card-container.exposed {
    -webkit-transform: scale3d(1,1,0) translate3d(0,-30%,0);
    -moz-transform: scale3d(1,1,0) translate3d(0,-30%,0);
    -o-transform: scale3d(1,1,0) translate3d(0,-30%,0);
}


.my-player-seat .player-card-container {
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;

    -webkit-transform: translate3d(0,30%,0);
    -moz-transform:  translate3d(0,30%,0);
    -o-transform:  translate3d(0,30%,0);
}


.my-player-seat .player-card-container.dealt {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
}
.my-player-seat .action-amount {
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;

    -webkit-transform: translate3d(0,50%,0);
    -moz-transform: translate3d(0,50%,0);
    -o-transform: translate3d(0,50%,0);
}
.my-player-seat .action-amount.placed {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
}
.seat .action-amount {
    -webkit-transition: -webkit-transform 0.5s ease-out;
    -moz-transition: -moz-transform 0.5s ease-out;
    -o-transition: -o-transform 0.5s ease-out;

    -webkit-transform: translate3d(0,-50%,0);
    -moz-transform: translate3d(0,-50%,0);
    -o-transform: translate3d(0,-50%,0);
}
.seat .action-amount.placed {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
}

