.iphone-button {
    .border-radius(8px);
     background-color: @buttonGrayBg;
}
.logo-container {
    width: 100%;
    background-position: center;

}
.navbar-top ul li {
    width: 100%;
    text-align: center;
    border:none;
    padding: 10px 0;
}

